@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Sans+Caption:wght@400;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@utility container {
  margin-inline: auto;
  padding-inline: 16px;
}

@theme inline {
  /* BLUE */
  --color-blue-100: #7ea4d7;
  --color-blue-200: #2c85fc;
  --color-blue-300: #2266c1;
  --color-blue-400: #0d284c;

  /* CYAN */
  --color-cyan-100: #2debfc;
  --color-cyan-200: #187d86;
  --color-cyan-300: #0e474c;

  /* GRAY */
  --color-gray-100: #e9eaec;
  --color-gray-200: #d3d5d9;
  --color-gray-300: #93979e;
  --color-gray-400: #20242c;
  --color-gray-500: #16181d;
  --color-gray-600: #14161a;
  --color-gray-700: #101216;
  --color-gray-800: #0b0c0f;

  --radius-lg: 0.5rem;
  --radius-md: calc(var(--radius-lg) - 2px);
  --radius-sm: calc(var(--radius-lg) - 4px);

  --font-ptsans: "PT Sans Caption";
  --font-inter: "Inter", "sans-serif";

  --text-heading-gh: 48px;
  --text-heading-gh--line-height: 120%;
  --text-heading-gh--font-weight: 700;

  --text-heading-xl: 32px;
  --text-heading-xl--line-height: 120%;
  --text-heading-xl--font-weight: 700;

  --text-heading-lg: 28px;
  --text-heading-lg--line-height: 120%;
  --text-heading-lg--font-weight: 700;

  --text-heading-md: 24px;
  --text-heading-md--line-height: 120%;
  --text-heading-md--font-weight: 700;

  --text-heading-sm: 20px;
  --text-heading-sm--line-height: 120%;
  --text-heading-sm--font-weight: 700;

  --text-heading-xs: 16px;
  --text-heading-xs--line-height: 120%;
  --text-heading-xs--font-weight: 700;

  --text-body-md: 16px;
  --text-body-md--line-height: 150%;
  --text-body-md--font-weight: 400;

  --text-body-sm: 14px;
  --text-body-sm--line-height: 150%;
  --text-body-sm--font-weight: 400;

  --text-body-xs: 12px;
  --text-body-xs--line-height: 150%;
  --text-body-xs--font-weight: 400;

  --text-body-tag: 12px;
  --text-body-tag--line-height: 100%;
  --text-body-tag--font-weight: 400;

  --text-action-md: 16px;
  --text-action-md--font-weight: 500;

  --text-action-sm: 14px;
  --text-action-sm--font-weight: 500;
}
